# generated
target
*.class

# intellij
*.iml
.idea

# local config
/application.properties

# js
node_modules


# Vercel
.vercel
.env

# Terraform
.terraform*
*.tfstate
*.tfstate.backup
*.tfstate.*.backup

